<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <titleTKO-Postbox</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Menu</li>
            </ul>
        </nav>
    </header>

    <section>
        <article>
            <header>
                <h2>Article #1 title</h2>
                <p>Posted on <time datetime="2010-01-01T10:10:10+02:00">January 1st 2010</time></p>
            </header>
            <p>Your article goes here.</p>
        </article>

        <article>
            <header>
                <h2>Article #2 title</h2>
                <p>Posted on <time datetime="2010-01-01T10:10:10+02:00">January 1st 2010</time></p>
            </header>
            <p>Your article goes here.</p>
        </article>

    </section>

    <aside>
        <h2></h2>
        <p></p>
    </aside>

    <footer>
        <p></p>
    </footer>
    <script type="module" src="/public/js/default.bundle.js" crossorigin="anonymous"></script>
</body>

</html>